<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-6">
				<nav class="text-left">
					<ul>
						<li><a href="{{ site.url }}/profiles-search/">Profiles Search</a></li>
						<li><a href="{{ site.url }}/grants-search/">Grants Search</a></li>
						<li><a href="{{ site.url }}/about/">About</a></li>
						<li><a href="{{ site.url }}/profiles/">Index</a></li>
						<li><a href="{{ site.url }}/faq/">FAQ</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-4 col-lg-6">
				<div class="copyright text-right">
				Built with <i class="material-icons">favorite</i> by <a href="https://smartergiving.org">
				SmarterGiving
				</a>
			</div>
		</div>
	</div>
</div>
</footer>